
body {
  background: url('/diary_app/diary/static/diary/img/one.jpg') no-repeat center center fixed;
  /* background: url('{% static "diary/img/one.jpg" %}') no-repeat center center fixed; */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  
  /* 1920x1080 */
}
