{% extends "diary/base.html" %}
{% load widget_tweaks %}

{% block body %}
<style>
    @keyframes slide {
        0% {
            left: -100%;
        }
        100% {
            left: 3%;
        }
    }

    .wrapper {
        /* width: 15rem; */
        /* display: flex;
        justify-content: center;
        align-items: center; */
        width: 70%;
        margin: 5rem auto;
        position: relative;
        animation: slide 1s;
    }
</style>

<div class="container">
    <div class="container-fluid">
        <div class="wrapper">
            <h2 class="p-2 mb-3">SIGNIN</h2>
            <form method="POST" class="form" action="">
                {% csrf_token %}
                {% if valid == False  %}
                <div class="form-group">
                    <small class="text-danger">Username or password invalid</small>
                </div>
                {% endif %}
                <div class="form-group pb-4">
                    <label for="username" class="pl-3">Username</label>
                    {% render_field form.username class="form-control" id="username" name="username" autofocus="true" %}
                </div>
                <div class="form-group pb-3">
                    <label for="password" class="pl-3">Password</label>
                    {% render_field form.password class="form-control" name="password" id="password" %}
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
                <a class="link float-right" href="{% url 'register' %}">Register here</a>
            </form>
        </div>
    </div>
</div>

{% endblock %}